.coils {
    background-color: #0DD7FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='149' height='149' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300b6dd' fill-opacity='0.42'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-flow: column;
    align-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo5 titulo5"
        "kanthal nichrome"
        "nickel ss"
        "back5 back5"
        "disclaimer5 disclaimer5";
}

@media screen and (max-width:768px) {
    .coils {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "titulo5"
            "kanthal"
            "nichrome"
            "nickel"
            "ss"
            "backcoil"
            "disclaimer5"
    }

}


.titulo5 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    text-decoration: underline;
    grid-area: titulo5;
}

.kanthal {
    grid-area: kanthal;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}

.nichrome {
    grid-area: nichrome;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}

.nickel {
    grid-area: nickel;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}

.ss {
    grid-area: ss;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}

.nichrome1 {
    filter: grayscale(100%);
    transition: all 2s;

    &:hover {
        filter: none;
        transform: scale(1.1);
    }
}
.kanthal1 {
        filter: grayscale(100%);
        transition: all 2s;
        transform: translate(0px, 113px);

        &:hover {
            filter: none;
            transform: scale(1.1);
        }
    }

.nickel1 {
        filter: grayscale(100%);
        transition: all 2s;
        transform: translate(0px, 10px);

        &:hover {
            filter: none;
            transform: scale(1.1);
        }
    }

.ss1 {
        filter: grayscale(100%);
        transition: all 2s;

        &:hover {
            filter: none;
            transform: scale(1.1);
        }
    }

.back5 {
        grid-area: back5;
        text-align: center;
        font-size: 25px;
}

.disclaimer5{
    grid-area: disclaimer5;
    background-color: red;
    font-size: 35px;
}
