/*PAGINA PRINCIPAL*/
.body {
    background-image: linear-gradient(lightblue , pink);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 2px;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.titulo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    text-decoration: underline;
}

.login__titulo{
    display: flex;
    flex-flow: column;
    align-items: end;
    font-size: small;
}
.login {
    text-align-last: end;
}
.form-control{
width: 100%;
}
.legend {
    grid-area: legend;
    text-align: center;
    font-size: 30px;
    background-color: rgb(168, 103, 241);
    padding-left: 17%;
    margin: 50px;
}
a:hover{
   color: lightblue; 
}
.img {
    align-self: center;
    text-align: center;
    box-sizing: border-box;
    width: 700px;
    height: 600px;
    border: groove rgb(168, 103, 241) 25px;
    padding: 25px;
    margin: 25px auto;
    overflow: auto;
    object-fit: contain;
}

img{
    filter: grayscale(100%);
    transition: all 2s;
    width: auto;
    height: auto;
}
img:hover{
    filter: none;
}

.webs {
    color: black;
    text-align: center;
    background-color: rgb(168, 103, 241);
    font-size: 18px;
    height: 25px;
    transition: all 2s;
}
.webs:hover{
    height: 50px;
}

.disclaimer {
    background-color: red;
    font-size: 35px;
    grid-area: footer;
    text-align: center;
    justify-content: center;
}
@media screen and (max-width:1024px){
    .webs {
        color: black;
        text-align: center;
        background-color: rgb(168, 103, 241);
        font-size: 12px;
        height: 20px;
        transition: all 2s;
    }
    .webs:hover{
        height: 50px;
    }
    
    .login {
        text-align-last: left;
        
    }
    .form-control{
        width: 25%;
    }


}

/*PAGINA DE MODS*/
.bodymod {
    background-image: linear-gradient(lightblue , pink);
    align-items: center;
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "titulo2 titulo2"
        "aegis aegistext"
        "dragtext drag"
        "jelly jellytext"
        "back2 back2"
        "footer2 footer2";
}


    @media screen and (max-width:768px){
        .bodymod{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
            "titulo2"
            "aegis"
            "aegistext"
            "drag"
            "dragtext"
            "jelly"
            "jellytext"
            "back2"
            "footer2";
            font-size: 20px;
    }

}

.titulo2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    text-decoration: underline;
    grid-area: titulo2;
}
.aegis {
    grid-area: aegis;
    filter: grayscale(100%);
    transition: all 2s;
}
.aegis:hover{
    filter: none;
    transform: scale(1.1);
}

.aegis__text {
    grid-area: aegistext;
}

.drag {
    grid-area: drag;
    filter: grayscale(100%);
    transition: all 2s;
}

.drag:hover{
    filter: none;
    transform: scale(1.1);
}

.drag__text {
    grid-area: dragtext;
}

.jelly {
    grid-area: jelly;
    filter: grayscale(100%);
    transition: all 2s;
}

.jelly:hover{
    filter: none;
    transform: scale(1.1);
}

.jelly__text {
    grid-area: jellytext;
}

.back2{
    grid-area: back2;
}
.disclaimer2 {
    background-color: red;
    font-size: 35px;
    grid-area: footer2;
    text-align: center;
}
/* PAGINA DE ATO*/
.ato {
   text-align: center;
    background-image: linear-gradient(lightblue , pink);
}
.titulo3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    text-decoration: underline;
}
p {
    font-family: 'League Gothic', cursive;
    font-size: 30px;
}
.zeus{
    transition: all 2s;
    filter: grayscale(100%);
    height: auto;
    width: auto;
}
.zeus:hover{
    filter: none;
}
.fata{
    transition: all 2s;
    height: auto;
    width: auto;
}
.fata:hover{
    filter: none;
}
.fat{
    transition: all 2s;
    filter: grayscale(100%);
    height: auto;
    width: auto;
}
.fat:hover{
    filter: none;
}
.disclaimer3{
    background-color: red;
    font-size: 35px;
    text-align: center;
}

/*PAGINA ELIQUID*/
.eliquid {
    background-color: aqua;
}
.titulo4{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    text-decoration: underline;
}

.titulo__intro {
    text-align: left;
}

.table {
    font-size: 30px;
    font-family: 'League Gothic', cursive;
    text-align: center;
}

.backliquid {
    text-align: center;
}

.disclaimer4{
    background-color: red;
    font-size: 35px;
    text-align: center;
}


/*PAGINA COILS*/

.coils {
    background-image: linear-gradient(lightblue , pink);
    display: flex;
    flex-flow: column;
    align-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo5 titulo5"
    "kanthal nichrome"
    "nickel ss"
    "back5 back5"
    "disclaimer5 disclaimer5";
}

@media screen and (max-width:768px){
    .coils{
        display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
            "titulo5"
            "kanthal"
            "nichrome"
            "nickel"
            "ss"
            "backcoil"
            "disclaimer5"
    }

}
    

.titulo5{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    text-decoration: underline;
    grid-area: titulo5;
}

.kanthal{
    grid-area: kanthal;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}
.nichrome{
    grid-area: nichrome;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}
.nickel{
    grid-area: nickel;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}
.ss{
    grid-area: ss;
    font-size: 30px;
    font-family: 'League Gothic', cursive;
}

.nichrome1{
filter: grayscale(100%);
transition: all 2s;
}
.nichrome1:hover{
    filter: none;
    transform: scale(1.1);
}
.kanthal1{
    filter: grayscale(100%);
    transition: all 2s;
    transform: translate(0px , 113px);
}
.kanthal1:hover{
    filter: none;
    transform: scale(1.1);
}
.nickel1{
    filter: grayscale(100%);
    transition: all 2s;
    transform: translate(0px , 10px);
}
.nickel1:hover{
    filter: none;
    transform: scale(1.1);
}
.ss1{
    filter: grayscale(100%);
    transition: all 2s;
}
.ss1:hover{
    filter: none;
    transform: scale(1.1);
}





.back5{
    grid-area: back5;
    text-align: center;
    font-size: 25px;
}
.disclaimer5{
    grid-area: disclaimer5 ;
    background-color: red;
    font-size: 35px;
    
}