.body {
  background-color: #0DD7FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='149' height='149' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300b6dd' fill-opacity='0.42'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); }

.titulo {
  color: black;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 200px;
  text-decoration: underline;
  grid-area: titulo1; }

.login__titulo {
  display: flex;
  flex-flow: column;
  align-items: end;
  font-size: small; }

.login {
  text-align-last: end; }

.form-control {
  width: 100%; }

.legend {
  grid-area: legend;
  text-align: center;
  font-size: 30px;
  background-color: #a867f1;
  padding-left: 17%;
  margin: 50px; }

a:hover {
  color: lightblue; }

.img {
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  width: 700px;
  height: 600px;
  border: groove #a867f1 25px;
  padding: 25px;
  margin: 25px auto;
  overflow: auto;
  object-fit: contain; }

.indeximage {
  width: 600px;
  height: 500px;
  filter: grayscale(100%);
  transition: all 2s; }
  .indeximage:hover {
    filter: none; }

.webs {
  color: black;
  text-align: center;
  background-color: #a867f1;
  font-size: 18px;
  height: 25px;
  transition: all 2s; }
  .webs:hover {
    height: 50px; }

.disclaimer__parrafo {
  background-color: red;
  font-size: 20px;
  grid-area: footer;
  text-align: center;
  flex: auto; }

@media screen and (max-width: 1024px) {
  .body {
    grid-template-columns: 1fr; }
  .form-control {
    width: 50%; }
  .webs {
    color: black;
    text-align: center;
    background-color: #a867f1;
    font-size: 12px;
    height: 20px;
    transition: all 2s; }
    .webs:hover {
      height: 50px; }
  .login {
    text-align-last: left;
    justify-content: start;
    grid-area: titulo2; }
  .form-control {
    width: 25%; } }

.bodymod {
  background-color: #0DD7FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='149' height='149' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300b6dd' fill-opacity='0.42'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  align-items: center;
  font-size: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "titulo2 titulo2" "aegis aegistext" "dragtext drag" "jelly jellytext" "back2 back2" "footer2 footer2"; }

.modimg {
  height: 400px;
  width: 400px; }

@media screen and (max-width: 768px) {
  .bodymod {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo2" "aegis" "aegistext" "drag" "dragtext" "jelly" "jellytext" "back2" "footer2";
    font-size: 20px; } }

.titulo2 {
  color: black;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 200px;
  text-decoration: underline;
  grid-area: titulo2; }

.aegis {
  grid-area: aegis;
  filter: grayscale(100%);
  transition: all 2s; }
  .aegis:hover {
    filter: none;
    transform: scale(1.1); }

.aegis__text {
  grid-area: aegistext; }

.drag {
  grid-area: drag;
  filter: grayscale(100%);
  transition: all 2s; }
  .drag:hover {
    filter: none;
    transform: scale(1.1); }

.drag__text {
  grid-area: dragtext; }

.jelly {
  grid-area: jelly;
  filter: grayscale(100%);
  transition: all 2s; }
  .jelly:hover {
    filter: none;
    transform: scale(1.1); }

.jelly__text {
  grid-area: jellytext; }

.back2 {
  grid-area: back2; }

.disclaimer2 {
  background-color: red;
  font-size: 35px;
  grid-area: footer2;
  text-align: center; }

.bodyato {
  text-align: center;
  background-color: #0DD7FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='149' height='149' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300b6dd' fill-opacity='0.42'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); }

.titulo3 {
  color: black;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 200px;
  text-decoration: underline; }

p {
  font-family: 'League Gothic', cursive;
  font-size: 30px; }

.zeus {
  transition: all 2s;
  filter: grayscale(100%);
  height: 700px; }
  .zeus:hover {
    filter: none; }

.fata {
  transition: all 2s;
  height: 700px; }
  .fata:hover {
    filter: none; }

.fat {
  transition: all 2s;
  filter: grayscale(100%);
  height: 700px; }
  .fat:hover {
    filter: none; }

.disclaimer3 {
  background-color: red;
  font-size: 35px;
  text-align: center; }

.carousel {
  display: inline-flex;
  width: 1000px; }

.eliquid {
  background-color: #0DD7FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='149' height='149' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300b6dd' fill-opacity='0.42'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); }

.titulo4 {
  color: black;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 200px;
  text-decoration: underline; }

.titulo__intro {
  text-align: left; }

.table {
  font-size: 30px;
  font-family: 'League Gothic', cursive;
  text-align: center; }

.backliquid {
  text-align: center; }

.disclaimer4 {
  background-color: red;
  font-size: 35px;
  text-align: center; }

.coils {
  background-color: #0DD7FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='149' height='149' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300b6dd' fill-opacity='0.42'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-flow: column;
  align-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "titulo5 titulo5" "kanthal nichrome" "nickel ss" "back5 back5" "disclaimer5 disclaimer5"; }

@media screen and (max-width: 768px) {
  .coils {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo5" "kanthal" "nichrome" "nickel" "ss" "backcoil" "disclaimer5"; } }

.titulo5 {
  color: black;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 200px;
  text-decoration: underline;
  grid-area: titulo5; }

.kanthal {
  grid-area: kanthal;
  font-size: 30px;
  font-family: 'League Gothic', cursive; }

.nichrome {
  grid-area: nichrome;
  font-size: 30px;
  font-family: 'League Gothic', cursive; }

.nickel {
  grid-area: nickel;
  font-size: 30px;
  font-family: 'League Gothic', cursive; }

.ss {
  grid-area: ss;
  font-size: 30px;
  font-family: 'League Gothic', cursive; }

.nichrome1 {
  filter: grayscale(100%);
  transition: all 2s; }
  .nichrome1:hover {
    filter: none;
    transform: scale(1.1); }

.kanthal1 {
  filter: grayscale(100%);
  transition: all 2s;
  transform: translate(0px, 113px); }
  .kanthal1:hover {
    filter: none;
    transform: scale(1.1); }

.nickel1 {
  filter: grayscale(100%);
  transition: all 2s;
  transform: translate(0px, 10px); }
  .nickel1:hover {
    filter: none;
    transform: scale(1.1); }

.ss1 {
  filter: grayscale(100%);
  transition: all 2s; }
  .ss1:hover {
    filter: none;
    transform: scale(1.1); }

.back5 {
  grid-area: back5;
  text-align: center;
  font-size: 25px; }

.disclaimer {
  grid-area: disclaimer5;
  background-color: red;
  font-size: 35px; }
